// breakpoints
$mobileBreak: 375px;
$desktopBreak: 1440px;

// colors
$primaryBlue: hsl(233, 26%, 24%);
$primaryGreen: hsl(136, 65%, 51%);
$primaryCyan: hsl(192, 70%, 51%);

$neutralBlue: hsl(233, 8%, 62%);
$neutralLightBlue: hsl(220, 16%, 96%);
$neutralGray: hsl(0, 0%, 98%);
$neutralWhite: hsl(0, 0%, 100%);

// typography
$fontSize: 18px;
$fontStack: "Public Sans", Arial, Helvetica, sans-serif;